.browse-sidebars {
  background-color: #1b1d1f;
}

.browse-content {
  width: 90%;
  margin: 0 auto;
}

.browse {
  background-image: url('http://res.cloudinary.com/devwor0u0/image/upload/v1484177093/2opwuc_wcmw-hans-vivek_culpzm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
}
