.feed {
  display: flex;
  justify-content: center;
  // position: absolute;
  // left: 40vw;
}

.feed-content {
  margin-top: 10vh;
  height: 50vh;
  display: block;
  width: 80%;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 8px;
  color: rgb(147,16,9);
  text-align: center;
}
