.form {
  display: block;
  width: 20vw;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 8px;
  color: #191918;
  position: absolute;
  top: 20vh;
  left: 40vw;
}

.form-input {
  border-bottom: 1px solid #175868;
}

.form-input:focus {
  border-bottom: 1px solid #175868;
}

.form-input, .form-label, .form-button {
  display: block;
  width: 100%;
  margin: 5px;
  padding-top: 10px;
}

.form-input {

}

.form-label {

}

.form-span {
  padding-top: 5px;
  display: block;
  width: 100%;
  font-size: 0.9em;

  a {
    color: #0c173f;
  }

  a:hover {
    text-decoration: underline;
  }
}

.form-button {
  background-color: #175868;
  width: 30%;
  padding: 5px 0;
  margin: 10px auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 3px 3px 3px #000000;
  border-radius: 20px;
}

.form-button:hover {
  background-color: #175868;
}

.form-button:active {
  box-shadow: none;
  background-color: #175868;
  transform: translateY(3px);
}

.form-aligner {
  display: flex;
  flex-direction: column-reverse;
}
