.profile {
  display: flex;
  justify-content: center;
  // position: absolute;
  // left: 40vw;
}

.profile-content {
  margin-top: 5vh;
  height: 100%;
  width: 95%;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
  color: rgb(147,16,9);
  // text-align: center;
  // display: flex;
  // flex-direction: column;
}

.snack-index-container {
  margin: 2%;
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  // margin-top: 1vh;
  height: 100%;
  width: 94%;
  // padding: 20px;
  border-radius: 5px;
  color: rgb(147,16,9);
  font-size: 3em;
  // padding-bottom: 80px;
}

.snack-index-item {
  width: 48%;
  border-radius: 5px;
  background: white;
  margin: 1%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: .5s;
  // vertical-align: middle;
}

.snack-index-item:hover {
  margin-top: 0%;
  cursor: pointer;
}

.snack-index-image {
  min-width: 33.33%;
  border-radius: 5px;
  display: flex;
  vertical-align: middle;

  img {
    width: 60%;
  }
}

.snack-index-title {
  min-width: 33.33%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  line-height: 15vh;
}

.snack-index-rating {
  min-width: 33.333%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  line-height: 15vh;
}

// .profile-title {
//   margin-left: 3%;
//   margin-right: 3%;
//   margin-top: 2vh;
//   height: 10vh;
//   width: 94%;
//   background: white;
//   padding-left: 30px;
//   padding-top: 10px;
//   border-radius: 5px;
//   color: rgb(147,16,9);
//   text-align: center;
//   font-size: 3em;
//   // padding-bottom: 80px;
// }
