.snack-index {
  display: flex;
  justify-content: center;
  // position: absolute;
  // left: 40vw;
}

.profile-content {
  // background: rgba(255, 255, 255, 0.5);
  // padding: 5px;
  // border-radius: 5px;
  // color: rgb(147,16,9);
  // text-align: center;
  // display: flex;
  // flex-direction: column;
}

.snack-index-container {
  width: 95%;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 80vh;
  border-radius: 5px;
  color: rgb(147,16,9);
}

.snack-index-item {
  width: 48%;
  border-radius: 5px;
  background: white;
  margin: 1%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: .5s;
  border: 5px rgb(147,16,9);
  border-style: groove;
  box-shadow: 10px 10px 5px #888888;

  // vertical-align: middle;
}

.snack-index-item:hover {
  margin-top: 0%;
  cursor: pointer;
  box-shadow: 6px 6px 3px #888888;
}

.snack-index-image {
  min-width: 25%;
  // border-radius: 5px;
  display: flex;
  vertical-align: middle;


  img {
    width: 100%;
    // border-top-left-radius: 5px;
    // border-bottom-left-radius: 5px;
    border-right: 5px rgb(147,16,9);
    border-style: groove;
  }
}

.snack-index-title {
  // margin-left: 33.33%;

  min-width: 75%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 15vh;
  font-size: 2em;
  padding-top: 2vh;
  color: #1b1d1f;

  p {
    width: 100%;
    line-height: normal;
    text-align: center;
  }

}

.credit {
  font-size: .8em;

}

.snack-index-rating {
  min-width: 33.333%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  line-height: 15vh;
}

// .profile-title {
//   margin-left: 3%;
//   margin-right: 3%;
//   margin-top: 2vh;
//   height: 10vh;
//   width: 94%;
//   background: white;
//   padding-left: 30px;
//   padding-top: 10px;
//   border-radius: 5px;
//   color: rgb(147,16,9);
//   text-align: center;
//   font-size: 3em;
//   // padding-bottom: 80px;
// }
