@keyframes slideOut {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

.snack-index {
  display: flex;
  justify-content: center;
  // position: absolute;
  // left: 40vw;
}

.profile-content {
  // background: rgba(255, 255, 255, 0.5);
  // padding: 5px;
  // border-radius: 5px;
  // color: rgb(147,16,9);
  // text-align: center;
  // display: flex;
  // flex-direction: column;
}

.snack-index-container {
  width: 95%;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 5vh;
  // margin-bottom: 5vh;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 85vh;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: rgb(147,16,9);
}

.snack-index-item {
  width: 48%;
  // border-radius: 5px;
  background: white;
  margin: 1%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: .5s;
  border: 9px solid rgb(147,16,9);
  // border-style: groove;
  border-radius: 20px;
  box-shadow: 8px 8px 1px #888888;
  text-shadow: 1px 1px 1px #888888;


  animation-name: slideOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.snack-index-item:hover {
  margin-top: 0%;
  cursor: pointer;
  box-shadow: 2px 2px 1px #888888;
}

.snack-index-image {
  min-width: 25%;
  // border-radius: 5px;
  display: flex;
  vertical-align: middle;
  box-shadow: 4px 0px 1px #888888;


  img {
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 5px solid rgb(147,16,9);
    // border-radius: 100px 0px 0px 100px;

    // border-style: groove;
  }
}

.snack-index-title {
  // margin-left: 33.33%;

  min-width: 75%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 15vh;
  font-size: 2em;
  padding-top: 2vh;
  color: #1b1d1f;
  border-top: 4px solid #888888;
  border-top-right-radius: 10px;

  p {
    width: 100%;
    line-height: normal;
    text-align: center;
    text-decoration: underline;
  }

}

.credit {
  font-size: .8em;
  text-decoration: none !important;
}

.snack-index-rating {
  min-width: 33.333%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  line-height: 15vh;
}

// .profile-title {
//   margin-left: 3%;
//   margin-right: 3%;
//   margin-top: 2vh;
//   height: 10vh;
//   width: 94%;
//   background: white;
//   padding-left: 30px;
//   padding-top: 10px;
//   border-radius: 5px;
//   color: rgb(147,16,9);
//   text-align: center;
//   font-size: 3em;
//   // padding-bottom: 80px;
// }
