@keyframes slideOut {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

.rating-index {
  display: flex;
  justify-content: center;
}

.rating-index-container {
  min-height: 89vh;
  height: 100%;
  width: 99%;
  padding: 10px;
  // background: rgba(255, 255, 255, 0.5);
  margin-top: 1vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: rgb(147,16,9);
  overflow-y: hidden;
  // overflow-y: scroll;
}

.rating-index-top {
  width: 25%;
  background-color: #f2f2f2;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 37.5%;
  margin-right: 37.5%;
  height: 75px;
  font-size: 1.5em;
  color: #1b1d1f;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  // border: 5px solid #1b1d1f;
  // border: 7px solid rgb(147,16,9);
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  animation-name: slideOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.rating-index-top-text {
  height: 55px;
  width: 100%;
  margin: 10px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  justify-content: center;
  align-items: center;
}


.rating-index-item {
  width: 46%;
  background-color: #f2f2f2;
  margin: 2%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  transition: .5s;
  // border: 7px solid rgb(147,16,9);
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  animation-name: slideOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.rating-index-image {
  height: 90px;
  width: 23%;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.rating-index-rating {
  height: 90px;
  width: 23%;
  margin: 10px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: #1b1d1f;

  p {
    width: 100%;
    line-height: normal;
    text-align: center;
  }
}

.rating-index-rater {
  height: 90px;
  width: 23%;
  margin: 10px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.2em;
  color: #1b1d1f;

  p {
    line-height: normal;
    text-align: center;
  }

  p:nth-child(2) {
    color: rgb(147,16,9);
    cursor: pointer;
    text-decoration: underline;
    transition: .5s;
  }

  p:nth-child(2):hover {
    padding-left: 2vh;
  }

  .rater-credit {
    color: #1b1d1f;
    cursor: default;
    text-decoration: none;
  }

  .rater-credit:hover {
    font-size: inherit;
    text-shadow: inherit;
  }
}

.rating-index-title {
  height: 90px;
  width: 23%;
  margin: 10px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: #1b1d1f;

  p {
    text-align: center;
    line-height: normal;
  }

  p:first-child {
    color: rgb(147,16,9);
    cursor: pointer;
    transition: .5s;
    text-decoration: underline;
  }

  p:first-child:hover {
    padding-left: 2vh;
  }

  p:nth-child(2) {
    font-style: italic;
  }
}
