@keyframes slideOut {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

// .rating-index {
//   display: flex;
//   justify-content: center;
// }

.rating-index-container {
  min-height: 90vh;
  // height: 100%;
  width: 100%;
  // padding-top: 20px;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow-y: hidden;
}

.rating-index-top {
  width: 15%;
  height: 100px;
  // margin-top: 2%;
  // margin-bottom: 2%;
  margin-right: 42.5%;
  margin-left: 42.5%;
  padding: 10px;
  background-color: #f2f2f2;
  color: #1b1d1f;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  // border: 5px solid #1b1d1f;
  // border: 7px solid rgb(147,16,9);
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  animation-name: slideOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.rating-index-top-text {
  height: 100%;
  width: 100%;
  // margin: 10px;
  border-radius: 12px;
  font-size: 20px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  justify-content: center;
  align-items: center;
}


.rating-index-item {
  width: 48%;
  background-color: #f2f2f2;
  // margin: 1% 2%;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  height: 160px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  transition: .5s;
  // border: 7px solid rgb(147,16,9);
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  animation-name: slideOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.rating-index-image {
  height: 140px;
  width: 24%;
  margin-right: 1%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.rating-index-rating {
  height: 140px;
  width: 25%;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1b1d1f;

  p {
    font-size: 20px;
    width: 100%;
    line-height: normal;
    text-align: center;
  }
}

.rating-index-rater {
  height: 140px;
  width: 25%;
  // margin: 10px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #1b1d1f;

  // p {
  //   font-size: 20px;
  //   line-height: normal;
  //   text-align: center;
  // }
  //
  // p:nth-child(2) {
  //   color: rgb(147,16,9);
  //   cursor: pointer;
  //   text-decoration: underline;
  //   transition: .5s;
  // }
  //
  // p:nth-child(2):hover {
  //   padding-left: 2vh;
  // }
  //
  // .rater-credit {
  //   color: #1b1d1f;
  //   cursor: default;
  //   text-decoration: none;
  // }
  //
  // .rater-credit:hover {
  //   font-size: inherit;
  //   text-shadow: inherit;
  // }
}

.rating-index-rater-button {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 5px 30px;
  border-radius: 2px;
  background-color: rgb(147,16,9);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  transition: .5s;

  p {
    font-size: 20px;
    line-height: normal;
    text-align: center;
    transition: .5s;
    color: white;
  }
}

.rating-index-rater-button:hover {
  margin-bottom: 10px;
}

.rating-index-title {
  height: 140px;
  width: 25%;
  // padding: 5%;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1b1d1f;

  // p {
  //   text-align: center;
  //   line-height: normal;
  //   font-size: 20px;
  // }
  //
  // p:first-child {
  //   color: rgb(147,16,9);
  //   cursor: pointer;
  //   transition: .5s;
  //   text-decoration: underline;
  // }
  //
  // p:first-child:hover {
  //   padding-left: 2vh;
  // }
  //
  // p:nth-child(2) {
  //   font-style: italic;
  // }
}
