.show {
  display: flex;
  justify-content: center;
  // position: absolute;
  // left: 40vw;
}

.show-content {
  // margin-top: 5vh;
  // height: 100%;
  // width: 95%;
  // background: rgba(255, 255, 255, 0.5);
  // padding: 5px;
  // border-radius: 5px;
  // color: rgb(147,16,9);
  // text-align: center;
  // display: flex;
  // flex-direction: column;
}

.show-index-container {
  width: 95%;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 80vh;
  border-radius: 5px;
  color: rgb(147,16,9);
}

.show-index-item {
  width: 48%;
  border-radius: 5px;
  background: white;
  margin: 1%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: .5s;
  border: 5px #1b1d1f;
  border-style: solid;
  box-shadow: 10px 10px 5px #888888;
  // vertical-align: middle;
}

.show-index-image {
  min-width: 25%;
  // border-radius: 5px;
  display: flex;
  vertical-align: middle;

  img {
    width: 100%;
    border-radius: 1px;
  }
}

.show-index-title {
  border-left: solid 5px #1b1d1f;
  border-right: solid 5px #1b1d1f;
  min-width: 50%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 15vh;
  font-size: 2em;
  padding-top: 2vh;
  color: #1b1d1f;

  p {
    width: 100%;
    line-height: normal;
    text-align: center;
  }

}

.credit {
  font-size: .8em;

}

.show-index-button {
  min-width: 25%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  line-height: 15vh;
  transition: .5s;
  font-size: 2em;
}

.show-index-button:hover {
  cursor: pointer;
  font-size: 2.5em;
}

.show-index-rating-button {
  min-width: 100%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  line-height: 15vh;
  transition: .5s;
  font-size: 2em;
}

.show-index-rating-button:hover {
  cursor: pointer;
  font-size: 2.5em;
}
