@keyframes slideOut {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

.show-ratings-index {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.snack-rating-index-item {
  width: 29.333%;
  height: 110px;
  margin: 2%;
  display: flex;
  justify-content: center;
  transition: .5s;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 20px;
  background-color: #f2f2f2;

  animation-name: slideOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.snack-rating-index-rater {
  min-width: 44%;
  height: 90px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  font-size: 1.5em;
  color: #1b1d1f;

  p {
    line-height: normal;
    text-align: center;
    transition: .5s;
  }

  p:nth-child(2){
    color: rgb(147,16,9);
    text-decoration: underline;
    cursor: pointer;
  }

  p:nth-child(2):hover {
    padding-left: 2vh;
  }

}

.snack-rating-index-rating {
  min-width: 44%;
  height: 90px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // line-height: 50px;
  background-color: white;
  color: #1b1d1f;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  p {
    width: 100%;
    line-height: normal;
    text-align: center;
    font-size: 1.5em;
  }

}
